html {
  font-family: sans-serif;
  scroll-behavior: smooth;
}
html body {
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-height: 100vh;
}
html body header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 1em 2em;
  background-color: #f2f2f2;
}
html body header a {
  color: #000;
}
html body main {
  width: 70%;
  margin: 2em auto;
  flex-grow: 1;
}
html body footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 1em 2em;
  background-color: #d9d9d9;
}
