extends layout


block head
	title Dashboard | Analyze.js


block main
	h1 Your websites
	div#website-container
		if websites
			each website in websites
				div.website
					h3= website.websiteID
		else
			div.jumbotron
				h2 Seems like here are no websites yet!
				p Add a website to start
				a(href='/websites/new').btn.btn-success Add website
