extends layout


block head
	title Error | Analyze.js


block content
	h1 Oops, something went really wrong in here!

	if (errorMessage)
		p Here is a bit more information about the error:
		p Error message:
		pre= errorMessage
		p Error stack:
		pre= errorStack