extends layout


block head
	title= website.name + ' overview | Analyze.js'
	link(rel='modulepreload' as='script' href='/js/overview.js')
	link(rel='modulepreload' as='script' href='/js/jui.js')


block main
	h1= website.name + ' Dashboard'
	div#dashboard
		div#realtime-audience
			h2 Realtime
			div Active users
			p#active-users
			svg#active-users-timeline-svg(viewBox='0 0 210 100')
				rect#top-line(width='210' height='1')
				- for (let i = 0; i < 30; ++i)
					rect.sessions-bar-underline(x=i * 7, y=99, width=6, height=1)
			p Most popular pages
			table
				thead
					tr
						td Page
						td Views
				tbody#pages-table
			a(href='/realtime/' + website.name).bold Full report

	script(async type='module' src='/js/overview.js')
