extends layout

block head
	title Dashboard | Crash Course
	link(rel="modulepreload" href="/js/dashboard.js")
	link(rel="modulepreload" href="/js/jui.js")

block main
	h1 Your websites
	.d-flex
		p.new-website-btn.btn.btn-outline-success Add website

	#website-container
		if websites
			each website in websites
				a.website(href="/overview/" + website.id)
					h3= website.name
		else
			.jumbotron
				h2 Seems like here are no websites yet!
				p Add a website to start
				p.new-website-btn.btn.btn-success Add website

	script(async type="module" src="/js/dashboard.js")
