extends layout

block head
	title Error | Analyze.js

block content
	if error
		h2= error.title || "An error occurred in the application"
		h3 Error details:
		p= error.message || "No details have been provided, please check server logs"
		if error.stack
			h3 Error stack:
			p= error.stack
