if user
	a.mr-3(href="/dashboard")
		span Crash Course
else
	a.mr-3(href="/")
		span Crash Course

noscript.text-warning This website requires JavaScript to work

if user
	a(href="/logout") Log out
else
	a(href="/login") Log in
