extends layout


block head
	title Welcome to Analyze.js


block content
	div.jumbotron
		h1 Analyze.js
		img(src='/img/logo.svg' alt='Analyze.js logo')
		p Collect information about your website, #[b own] the data!
		if (user)
			a.btn.btn-success(href='/dashboard') Your dashboard
		else
			a.btn.btn-success(href='/login') Log in
			a.btn.btn-primary(href='/signup') Sign up
