doctype html

html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		block head
			title Crash Course
		link(rel="stylesheet" href="/style/stylify.css")
		link(rel="stylesheet" href="/style/style.css")
		link(rel="icon" type="image/xml+svg" href="/img/logo.svg")
		script(src="//analytics.localhost/A.js?ajsID=88c01fac-dacb-4a93-b44b-ded90edefa2a")

	body
		header
			include header
			block header

		main
			block main
			#content
				block content

		footer
			include footer
