extends layout

block head
	title Log in | Crash Course

block content
	form(action="/login" method="post")
		h3 Log in
		.form-group
			label(for="username-input") Username
			input#username-input(type="text" name="username" placeholder="Username")
		.form-group
			label(for="password-input") Password
			input#password-input(type="password" name="password" placeholder="Password")
		input.btn.btn-primary(type="submit" value="Log in")
		a.btn.btn-secondary(href="/signup") Sign up
