extends layout


block head
	title Sign up | Analyze.js


block content
	h1 Sign up for Analyzer.js!

	form(action='/signup', method='post')
		h3 Sign up for Analyze.js
		div.form-group
			label(for='username-input') Username
			input#username-input(type='text' name='username' placeholder='Username')
		div.form-group
			label(for='password-input') Password
			input#password-input(type='password' name='password' placeholder='Password')
		div.form-group
			label(for='password-input') Repeat password
			input#password2-input(type='password' name='passwordRepeat' placeholder='Repeat password')
		input.btn.btn-primary(type='submit' value='Create an account')
		a.btn.btn-secondary(href='/login') Log in instead
